.jsonFormatter{
  min-width: min(800px,80vw);
  border:1px solid black;
  position: relative;
  display: flex;  
  flex-direction: column;
}
body{
  position: relative;
  width: 100vw;
  height: 100vh;
}
#root{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.jsonFormatter__lineItemCounter{
  user-select: none; 
  border-right: 1px solid black;
  min-width: 35px;
  max-width: 45px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(31, 35, 40, 0.08);
}
.jsonFormatter__lineItemCounterToggleBtn{
  width: 10px;
  display: inline-block;
}
.jsonFormatter__lineItemEntity--red{
  color: red;
}
.jsonFormatter__lineItemEntity--blue{
  color: blue;
}
.jsonFormatter__lineItemEntity--black{
  color: black;
}
.jsonFormatter__lineItemEntity--orange{
  color: #ff6c37;
}
.jsonFormatter__lineItem{
  display: flex;
  gap:5px;
}
